.skema-toggle {
    background-color: var(--dark-pink);
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.tab-label-off {
    background-color: var(--dark-pink);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    padding: 1rem;
    font-size: 1rem;


}

.tab-label-on {
    background-color: var(--white);
    color: var(--dark-pink);
    font-weight: bold;
    border-radius: 0.25rem;

    font-size: 1rem;
    padding: 1rem;

}