.todo-component-wrapper{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 1rem;
    margin: 2rem 0;
}

.todo-text-and-button div:hover{
    /* filter:opacity(0.8); */
    cursor: pointer;
    text-decoration: underline;
}

.todo-text-and-button div[aria-pressed="true"]{
    /* filter:opacity(0.8); */
    text-decoration: line-through;
    color: var(--dark-grey);
}


.checkbox-button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    /* margin: 0; */

}

.checkbox-button:hover{
    filter:opacity(0.8);
  
}

.todo-text-and-button{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 1rem;
}



@media (max-width: 600px) {
.todo-text-and-button{
    display: flex;
    flex-direction:column;

}
.todo-text-and-button div:has(.button){
    /* border: 2px blue solid; */
    width: 100%;

}

.todo-text-and-button .button{
    width: 100%;

}

}


