:root{
  --white: #fdfaf5;
  --black: #37342f;
  --dark-grey: #696969;
  --light-grey: #b4b4b4;

  --beige: #ffefd5;
  --light-green: #addaa1;
  --dark-green: #435a3b;
  --light-pink: #ed8ca5;
  --dark-pink: #a60737;
  --light-yellow: #ffcd3a;
  --dark-yellow: #a65e13;
  --light-blue: #55d9ff;
  --dark-blue: #0459aa;
  --light-purple: #dab3da;
  --dark-purple: #793f75;
  
  --focus: 0 0 0 0.25rem var(--white), 0 0 0 0.5rem var(--dark-green);
  --shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

}

html, body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--black);
  background-color: var(--beige);
  /* max-width: 40rem; */
  /* margin: 0 auto; */
}

.content-width{
  max-width: 40rem;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

a:focus{
  outline: none;
  box-shadow: var(--focus);
}